
.container-fluid
{
    height:100vh;
    background:url('/assets/images/Home/low_contrast_linen.png');
    overflow:hidden;
}

.tabs-main
{
    margin-top:15vh;
}

@media(max-width:991px)
{
    .tabs-main
    {
        margin-top:0;
    }

    .nav-top
    {
        font-family:'Quicksand', sans-serif;
        margin:3vh 0 8vh 0;
    }
}