
<div class='container-fluid p-0'>
    <div class='row d-lg-none d-flex justify-content-between text-white nav-top px-3'>
        <p class='col-auto'>{{ date }}</p>
        <div class='mr-3'>
            leke
        </div>
    </div>

    <div class='row' style='height:100vh;'>
        <div class='d-none d-lg-block col-lg-2 p-0'>
            <app-sidebar (changeTab)='switchTab($event)'></app-sidebar>
        </div>
        <app-sidebar class='d-block d-lg-none'></app-sidebar>

        <div class='offset-lg-2'></div>

        <div class='col-lg-5 row d-flex justify-content-center tabs-main ml-0'>
            <div class='col-11 col-sm-9 col-lg-12'>
                <app-all *ngIf='tabs.all'></app-all>
                <app-search *ngIf='tabs.search'></app-search>
                <app-add *ngIf='tabs.add'></app-add>
                <app-compile *ngIf='tabs.compile'></app-compile>
            </div>
        </div>
    </div>
</div>