
<div class='container-fluid p-0'>
	<div class='row d-flex justify-content-center align-items-center' style='height:100%'>
		<div class='upload-container d-flex justify-content-center align-items-center'>
			<div class='upload-body p-3 d-flex justify-content-around align-items-center'>
				<img src="/assets/images/Home/file.png">
				<div class='d-flex flex-column'>
					<p class='m-0'><b>Drag your file here, or <i class='m-0 browse-button' (click)='browse()'>browse</i></b></p>
					<p class='m-0 small text-center'>supports .xlsx/excel files</p>

					<input type='file' hidden #file>
				</div>
			</div>
		</div>				
	</div>
</div>