


<div class='container-fluid p-0'>
	<div class='row d-flex justify-content-center align-items-center' style='height:100%'>
		<div class='upload-container d-flex justify-content-center align-items-center'>
			<file-drop (onFileDrop)='evalDroppedFile($event)' *ngIf='!fileUpoaded'>
				<div class='upload-parent d-flex justify-content-center align-items-center'>
					<div class='upload-body p-3 d-flex justify-content-around align-items-center'>
						<img src="/assets/images/Home/file.png" alt='file-icon'>
						<div class='d-flex flex-column text-center'>
							<p class='m-0 text-dark'><b>Drag your file here, or <i class='m-0 browse-button' (click)='browse()'>browse</i></b></p>
							<p class='m-0 small text-center text-dark'>supports .xlsx/excel files</p>
							<input type='file' hidden #file (change)='validateFile($event.target.files[0])'>
						</div>
					</div>
				</div>
			</file-drop>
			<div class='upload-body p-3 d-flex justify-content-around align-items-center' *ngIf='fileUpoaded'>
				<div class='d-flex flex-column justify-content-center'>
					<p class='m-0 mb-1'><b>{{ fileName }}</b></p>
					<p class='text-muted m-0' style='font-size:0.9em; cursor:pointer;' (click)='removeFile()'>remove</p>
				</div>
				<img src="/assets/images/Home/ok.png" style='cursor:pointer;' (click)='begin()' alt='ok-icon'>
			</div>
		</div>				
	</div>
</div>
