.container-fluid
{
    height:100vh;
    background:url('/assets/images/Home/low_contrast_linen.png');
    overflow:hidden;
}

.upload-container, .upload-parent
{
    width:450px;
    height:165px;
}

.upload-container
{
    position: relative;
    top:-4vh;
    background:rgba(0,0,0,0.15);
    border-radius:12px;
    border:1px solid rgba(255, 255, 255, 0.07);
}

.upload-body
{
    width:85%;
    height:54%;
    background:rgba(255, 255, 255, 1);
    border-radius:9px;
    font-family:'Quicksand', sans-serif;
    font-size:0.9em;
}


.file-drop
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
}

.browse-button
{
    cursor: pointer;
}

@media(max-width:500px)
{
    .upload-container, .upload-parent
    {
        width:350px;
    }
}

@media(max-width:370px)
{
    .upload-container, .upload-parent
    {
        width:315px;
    }
}