
:host
{
    font-family:'Quicksand', sans-serif;
}

.add-text
{
    margin-top:4vh;
}

.add-text, .add-container
{
    background:rgba(0,0,0,0.15);
}

input
{
    padding-left:15px;
}

::-webkit-input-placeholder
{
    color:#333;
}

button
{
    background:transparent;
    outline:none;
    color:#fff;
    border-radius:4px;
    border:1px solid rgba(255,255,255, 0.25);
    cursor:pointer;
}


i
{
    position: absolute;
    top:12px;
    left:8px;
    color:#000;
}