:host
{
    height:100%;
}

.sidebar-main
{
    background:rgba(0,0,0,0.35);
    height:100%;
    font-family:'Quicksand', sans-serif;
}

.options-parent
{
    position:relative;
    top:-3vh;
}

li
{
    cursor:pointer;
    transition:background 0.22s ease-in;
}

li.active
{
    background:rgb(7, 87, 60);
    border-radius:4px;
}

@media(max-width:991px) 
{
	:host
	{
		position:fixed;
        top:0;
        height:100vh;
		left:100vw;
        width:40vw;
        z-index:999;
    }

    :host.active
    {
        left:60vw;
    }
    
    .sidebar-main
    {
        background:url('/assets/images/Home/low_contrast_linen.png');
        border-left:1px solid rgba(255,255,255,0.09);
    }
}