.search-container
{
    font-family:'Quicksand', sans-serif;
}

.search-term-parent
{
    position: relative;
}

input
{
    background:transparent;
    outline:none;
    border-color:transparent;
    border-bottom:1px solid #fff;
    color:#fff;
    padding-left:30px;
}

::-webkit-input-placeholder
{
    color:#fff;
}

.fa-search
{
    position:absolute;
    top:22px;
    left:3px;
    color:#fff;
    font-size:1.1em;
}

.search-results
{
    background:rgba(0,0,0,0.15);
    height:65vh;
    overflow-y: scroll;
}

.search-results::-webkit-scrollbar
{
	width:4px;
	background:rgba(0,0,0,0.005);
}

.search-results::-webkit-scrollbar-thumb
{
	background:rgba(0,0,0,0.17);
}

.search-results::-webkit-scrollbar-track
{
	background:rgba(0,0,0,0.01);
}

i
{
    color:#fff;
    font-size:1.2em;
    cursor:pointer;
}

.empty-search-text
{
    position:relative;
    top:-5vh;
}