
<div class='search-container'>
    <div class="search-term-parent py-3 mb-3">
		<input class='w-100 pb-1' placeholder="name of steward..."  (input)='find($event.target.value)'/>
		<i class='fa fa-search'></i>
	</div>

	<div class='search-results py-3 px-4 text-white d-flex justify-content-center' [ngClass]="{'align-items-center':emptySearch || emptyResults, 'align-items-start':!emptySearch}">
		<div class='w-100' *ngIf='!emptySearch && results.length > 0'>
			<div *ngFor='let record of results; index as i' class='d-flex justify-content-between align-items-center mb-3'>
				<p class='m-0'>{{ record.name }}</p>
				<i class='fa fa-check-circle' *ngIf='record.status' (click)="changeStatus(record.name, i)" #statusIcon></i>
				<i class='fa fa-times-circle' *ngIf='!record.status' (click)="changeStatus(record.name, i)" #statusIcon></i>
			</div>
		</div>

		<p class='empty-search-text w-100 text-center' *ngIf='emptySearch'>nothing to search for</p>
		<p class='empty-search-text w-100 text-center' *ngIf='emptyResults'>no search results for "{{ searchTerm }}"</p>
	</div>

</div>